/* Mixins and other abstractions */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/CodeKit\.app\/Contents\/Resources\/engines\/compass\/compass-core\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\000035}}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/CodeKit\.app\/Contents\/Resources\/engines\/compass\/compass-core\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000322}}
html {
  line-height: 1; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/CodeKit\.app\/Contents\/Resources\/engines\/compass\/compass-core\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000324}}
ol, ul {
  list-style: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/CodeKit\.app\/Contents\/Resources\/engines\/compass\/compass-core\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000326}}
table {
  border-collapse: collapse;
  border-spacing: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/CodeKit\.app\/Contents\/Resources\/engines\/compass\/compass-core\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000328}}
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/CodeKit\.app\/Contents\/Resources\/engines\/compass\/compass-core\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000330}}
q, blockquote {
  quotes: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/CodeKit\.app\/Contents\/Resources\/engines\/compass\/compass-core\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003103}}
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/CodeKit\.app\/Contents\/Resources\/engines\/compass\/compass-core\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000332}}
a img {
  border: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/CodeKit\.app\/Contents\/Resources\/engines\/compass\/compass-core\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003116}}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/2\.0\.0\/gems\/susy-2\.1\.2\/sass\/susy\/language\/susy\/_box-sizing\.scss}line{font-family:\0000311}}
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@media (min-width: 48em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/base\/_core\.scss}line{font-family:\000038}}
  .l-page {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/2\.0\.0\/gems\/susy-2\.1\.2\/sass\/susy\/output\/support\/_clearfix\.scss}line{font-family:\0000312}}
    .l-page:after {
      content: " ";
      display: block;
      clear: both; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/base\/_core\.scss}line{font-family:\0000313}}
.hidden {
  display: none; }

/*
Forms

These rules provide styles for form elements across the site. Some are consistent globally, others are specific.

Styleguide 5

*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/base\/_forms\.scss}line{font-family:\0000315}}
.search-block-form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #3f3f3f;
  display: table;
  width: 100%;
  /*
  Search buttons
  
  This is a global style for all 'search' buttons.
  
  Markup:
  
  <input type="submit" id="[id]" name="[name]" value="Search" class="form-submit">
  
  Styleguide 5.1
  
  */ }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/base\/_forms\.scss}line{font-family:\0000320}}
  .search-block-form label {
    display: none;
    visibility: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/base\/_forms\.scss}line{font-family:\0000323}}
  .search-block-form > div {
    display: table-row; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/base\/_forms\.scss}line{font-family:\0000328}}
  .search-block-form .form-item {
    display: table-cell;
    margin-bottom: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/base\/_forms\.scss}line{font-family:\0000331}}
    .search-block-form .form-item .form-text {
      padding: 3px 5px;
      border: 1px solid #bfbfbf;
      border-left: none;
      width: 100%;
      height: 29px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/base\/_forms\.scss}line{font-family:\0000338}}
    .search-block-form .form-item:first-child .form-text {
      -moz-border-radius-topleft: 5px;
      -webkit-border-top-left-radius: 5px;
      border-top-left-radius: 5px;
      -moz-border-radius-bottomleft: 5px;
      -webkit-border-bottom-left-radius: 5px;
      border-bottom-left-radius: 5px;
      border: 1px solid #bfbfbf; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/base\/_forms\.scss}line{font-family:\0000356}}
  .search-block-form .form-submit {
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: url('../images/search-icon.png?33188'), #ffffff;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: table-cell;
    border: 1px solid #bfbfbf;
    border-left: none;
    height: 29px;
    text-indent: -999px;
    width: 29px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/base\/_forms\.scss}line{font-family:\0000367}}
    .search-block-form .form-submit:hover {
      background-color: #f2f2f2; }

/*
Generic buttons

This provides a generic style for buttons across the site.

Individual tweaks are also provided here.

Markup:
<a class="button" href="#" title="Button Title">Text</a>

Styleguide 5.2

*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/base\/_forms\.scss}line{font-family:\0000387}}
.button {
  font-size: 16px;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFD202', endColorstr='#FF9B7F00');
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZDIwMiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2NjYTgwMSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffd202), color-stop(100%, #cca801));
  background: -moz-linear-gradient(#ffd202, #cca801);
  background: -webkit-linear-gradient(#ffd202, #cca801);
  background: linear-gradient(#ffd202, #cca801);
  -moz-box-shadow: #ffe04f 0 1px 0 inset;
  -webkit-box-shadow: #ffe04f 0 1px 0 inset;
  box-shadow: #ffe04f 0 1px 0 inset;
  border: 1px solid #b39301;
  color: #2E2B62;
  text-shadow: #fed828 0 1px 0;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
  font-size: 1em;
  line-height: 1.5em;
  width: 100%;
  height: 29px;
  padding-top: 3px;
  text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/2\.0\.0\/gems\/sassy-buttons-0\.2\.6\/stylesheets\/sassy-buttons\/_sassy-button-pseudo-states\.sass}line{font-family:\0000315}}
  .button:hover {
    text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/2\.0\.0\/gems\/sassy-buttons-0\.2\.6\/stylesheets\/sassy-buttons\/_sassy-button-pseudo-states\.sass}line{font-family:\0000336}}
  .button:hover {
    background-color: #b39301;
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U4YmUwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2IzOTMwMSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e8be00), color-stop(100%, #b39301));
    background: -moz-linear-gradient(#e8be00, #b39301);
    background: -webkit-linear-gradient(#e8be00, #b39301);
    background: linear-gradient(#e8be00, #b39301); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/2\.0\.0\/gems\/sassy-buttons-0\.2\.6\/stylesheets\/sassy-buttons\/_sassy-button-pseudo-states\.sass}line{font-family:\0000339}}
  .button:active {
    -moz-box-shadow: #a38701 0 1px 2px inset;
    -webkit-box-shadow: #a38701 0 1px 2px inset;
    box-shadow: #a38701 0 1px 2px inset; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/2\.0\.0\/gems\/sassy-buttons-0\.2\.6\/stylesheets\/sassy-buttons\/_sassy-button-pseudo-states\.sass}line{font-family:\000036}}
  .button.disabled, .button[disabled] {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
    opacity: 0.6;
    background: #cca801;
    cursor: default;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/2\.0\.0\/gems\/sassy-buttons-0\.2\.6\/stylesheets\/_sassy-buttons\.sass}line{font-family:\0000374}}
  .button::-moz-focus-inner {
    padding: 0 !important;
    margin: -1px !important; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/base\/_forms\.scss}line{font-family:\0000395}}
  .region-search .button {
    padding: 3px 0 0 0; }

@media (min-width: 48em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/base\/_forms\.scss}line{font-family:\00003105}}
  .home-map-form-wrapper .search-block-form .form-item {
    display: block;
    margin-bottom: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/base\/_forms\.scss}line{font-family:\00003108}}
    .home-map-form-wrapper .search-block-form .form-item .form-text {
      border: 1px solid #bfbfbf;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/base\/_forms\.scss}line{font-family:\00003115}}
  .home-map-form-wrapper .search-block-form .form-submit {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: block;
    border: 1px solid #bfbfbf;
    width: 100%;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/base\/_forms\.scss}line{font-family:\00003122}}
    .home-map-form-wrapper .search-block-form .form-submit .search-button {
      display: block; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/base\/_media\.scss}line{font-family:\000031}}
img, media {
  max-width: 100%; }

/* Text styles and fonts for for penelopeboyd.com */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/CodeKit\.app\/Contents\/Resources\/engines\/compass\/compass-core\/stylesheets\/compass\/typography\/_vertical_rhythm\.scss}line{font-family:\00003106}}
html {
  font-size: 87.5%;
  line-height: 0.57143em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/base\/_typography\.scss}line{font-family:\0000312}}
body {
  font-family: "Gotham A", "Gotham B", sans-serif;
  font-weight: 400;
  font-style: normal; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/base\/_typography\.scss}line{font-family:\0000318}}
h1, h2, h3, h4, h5, h6 {
  font-weight: 700; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/base\/_typography\.scss}line{font-family:\0000327}}
h1 {
  font-size: 2.57143em;
  line-height: 1.11111em;
  margin-top: 0em;
  padding-top: 0.57143em;
  padding-bottom: 0.57143em;
  margin-bottom: 0.28571em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/base\/_typography\.scss}line{font-family:\0000331}}
h2 {
  font-size: 2.14286em;
  line-height: 1.33333em;
  margin-top: 0.57143em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.28571em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/base\/_typography\.scss}line{font-family:\0000335}}
h3 {
  font-size: 1.71429em;
  line-height: 1.33333em;
  margin-top: 0.57143em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.28571em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/base\/_typography\.scss}line{font-family:\0000339}}
h4 {
  font-size: 1.28571em;
  line-height: 1.33333em;
  margin-top: 0.57143em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.28571em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/base\/_typography\.scss}line{font-family:\0000344}}
p {
  font-size: 1em;
  line-height: 1.71429em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.57143em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/base\/_typography\.scss}line{font-family:\0000349}}
.l-main li {
  font-size: 0.85714em;
  line-height: 1.33333em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.28571em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/base\/_typography\.scss}line{font-family:\0000354}}
strong {
  font-weight: 700; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/base\/_typography\.scss}line{font-family:\0000358}}
em {
  font-style: italic; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/base\/_typography\.scss}line{font-family:\0000362}}
a {
  color: #2E2B62;
  text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/base\/_typography\.scss}line{font-family:\0000365}}
  a:hover {
    color: #24224e;
    text-decoration: underline; }

/* 
Header

This section provides styles for the header component at the top of the page. Note that individual components can appear in other partials.

Styleguide 1
*/
/*
Header Wrapper

Wraps the entire header to enable Susy bleed.

Markup:
<div class="l-header-wrapper">
    <p>Text to demonstrate .l-header-wrapper.</p>
</div>

Styleguide 1.1
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/components\/_header\.scss}line{font-family:\0000322}}
.l-branding-wrapper {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuMCIgeDI9IjEuMCIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJlMmI2MiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI0MjI0ZSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #2e2b62), color-stop(100%, #24224e));
  background-image: -moz-linear-gradient(top, #2e2b62, #24224e);
  background-image: -webkit-linear-gradient(top, #2e2b62, #24224e);
  background-image: linear-gradient(to bottom right, #2e2b62, #24224e);
  color: #ffffff; }

/*
Branding

The Branding block includes the site logo and title. Note that the site title is hidden.

Markup:
<div class="l-header-wrapper">
	<header class="l-header" role="banner">
		<div class="l-branding">
	    <div class="l-logo">
        <a href="/" title="Home" rel="home" class="logo">
          <img src="../images/logo.png" alt="Home">
				</a>
	    </div>
	    <div class="l-title">
				<h1 class="hidden">Australian Apprenticeships</h1>
	    </div>
		</div>
	</header>
</div>

Styleguide 1.2
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/components\/_header\.scss}line{font-family:\0000351}}
.l-branding {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 1.25em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/2\.0\.0\/gems\/susy-2\.1\.2\/sass\/susy\/output\/support\/_clearfix\.scss}line{font-family:\0000312}}
  .l-branding:after {
    content: " ";
    display: block;
    clear: both; }

/*
Logo

The Logo block holds the site logo graphic. It can be split into two if required for a mobile and desk version of the graphic.

Markup:
<div class="l-logo">
	<a href="/" title="Home" rel="home" class="logo">
	  <img src="../images/logo.png" alt="Home">
	</a>
</div>

Styleguide 1.2.1
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/components\/_header\.scss}line{font-family:\0000371}}
.l-logo {
  margin-bottom: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/components\/_header\.scss}line{font-family:\0000373}}
  .l-logo img {
    display: block;
    margin-left: auto;
    margin-right: auto; }

/*

Utility

The Utility block holds so-called 'utility' areas - the skip to link, site map, and search. Individual styles are held in separate partials.

Markup:

<div class="l-utility">
	<div class="links">
		<ul class="menu">
			<li><a href="#main-content">Skip to content</a></li>
			<li><a href="site-map">Site map</a></li>
		</ul>
	</div>
	<div class="search">
		<div class="l-region l-region--search">
			<div id="block-search-form" role="search" class="block block--search block--search-form">
				<p>Search block goes here.</p>
			</div>
		</div>
	</div><
</div>

Styleguide 1.2.2
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/components\/_header\.scss}line{font-family:\00003105}}
.l-utility {
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto; }

/*

Top menu wrapper

The top menu wrapper simply allows the background of the top menu to bleed across the screen.

Markup:
<div class="l-top-menu-wrapper">
  <div class="l-top-menu">
    <p>Text to demonstrate .l-top-menu-wrapper.</p>
  </div>
</div>

Styleguide 1.2.3
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/components\/_header\.scss}line{font-family:\00003126}}
.l-top-menu-wrapper {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuMCIgeDI9IjEuMCIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZDIwMiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2NjYTgwMSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #ffd202), color-stop(100%, #cca801));
  background-image: -moz-linear-gradient(top, #ffd202, #cca801);
  background-image: -webkit-linear-gradient(top, #ffd202, #cca801);
  background-image: linear-gradient(to bottom right, #ffd202, #cca801); }

@media (min-width: 48em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/components\/_header\.scss}line{font-family:\00003131}}
  .l-branding-wrapper,
  .l-top-menu-wrapper {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    margin-right: -100%;
    margin-left: -100%;
    padding-right: 100%;
    padding-left: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/components\/_header\.scss}line{font-family:\00003135}}
  .l-logo {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/components\/_header\.scss}line{font-family:\00003138}}
  .l-branding {
    display: table; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/abstractions\/_mixins\.scss}line{font-family:\0000351}}
    .l-branding > .l-utility {
      display: table-cell;
      vertical-align: middle; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/components\/_header\.scss}line{font-family:\00003141}}
  .l-utility {
    width: 32.20339%;
    float: right;
    margin-right: 0; } }
/* 
Home page

This section provides styles for elements of the home page.

Markup:
<div class='l-home-wrapper'>
	<div class='top-left'>
		<p>Top left content.</p>
	</div>
	<div class='top-right'>
		<p>Top right content.</p>
	</div>
	<div class='bottom-left'>
		<p>Bottom left content.</p>
	</div>
	<div class='bottom-center'>
		<p>Bottom center content.</p>
	</div>
	<div class='bottom-right'>
		<p>Bottom right content.</p>
	</div>
</div>

Styleguide 4

*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/components\/_home\.scss}line{font-family:\0000329}}
.l-home-wrapper {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/2\.0\.0\/gems\/susy-2\.1\.2\/sass\/susy\/output\/support\/_clearfix\.scss}line{font-family:\0000312}}
  .l-home-wrapper:after {
    content: " ";
    display: block;
    clear: both; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/components\/_home\.scss}line{font-family:\0000331}}
  .l-home-wrapper > div {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0; }

/*
Top left

TThe top left container of the home page. Contains the home page map and related search functionality.

Markup:
<div class='l-home-wrapper'>
	<div class='top-left'>
		<p>Panel contents goes here.</p>
	</div>
</div>

Styleguide 4.1
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/components\/_home\.scss}line{font-family:\0000351}}
.top-left {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  border-bottom: 1px solid #bfbfbf;
  padding: 0 1.25em 10px 1.25em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/components\/_home\.scss}line{font-family:\0000355}}
  .top-left #map-canvas-home {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/components\/_home\.scss}line{font-family:\0000358}}
  .top-left .home-map-form-wrapper {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px; }

@media (min-width: 48em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/components\/_home\.scss}line{font-family:\0000367}}
  .l-home-wrapper {
    padding: 20px 1.25em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/components\/_home\.scss}line{font-family:\0000369}}
    .l-home-wrapper .top-left {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0;
      max-width: 960px;
      margin-left: auto;
      margin-right: auto;
      border: 1px solid #bfbfbf; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/2\.0\.0\/gems\/susy-2\.1\.2\/sass\/susy\/output\/support\/_clearfix\.scss}line{font-family:\0000312}}
      .l-home-wrapper .top-left:after {
        content: " ";
        display: block;
        clear: both; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/components\/_home\.scss}line{font-family:\0000373}}
      .l-home-wrapper .top-left #map-canvas-home {
        width: 65.51724%;
        float: left;
        margin-right: 3.44828%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/components\/_home\.scss}line{font-family:\0000376}}
      .l-home-wrapper .top-left .home-map-form-wrapper {
        width: 31.03448%;
        float: right;
        margin-right: 0;
        margin-bottom: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/components\/_home\.scss}line{font-family:\0000381}}
    .l-home-wrapper .top-right {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/components\/_home\.scss}line{font-family:\0000384}}
    .l-home-wrapper .bottom-left {
      width: 32.20339%;
      float: left;
      margin-right: 1.69492%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/components\/_home\.scss}line{font-family:\0000387}}
    .l-home-wrapper .bottom-center {
      width: 32.20339%;
      float: left;
      margin-right: 1.69492%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/components\/_home\.scss}line{font-family:\0000390}}
    .l-home-wrapper .bottom-right {
      width: 32.20339%;
      float: right;
      margin-right: 0; } }
@media (min-width: 62em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/components\/_home\.scss}line{font-family:\0000398}}
  .l-home-wrapper .top-left {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/components\/_home\.scss}line{font-family:\00003100}}
    .l-home-wrapper .top-left #map-canvas-home {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/components\/_home\.scss}line{font-family:\00003103}}
    .l-home-wrapper .top-left .home-map-form-wrapper {
      width: 100%;
      float: left;
      margin-left: 0;
      margin-right: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/components\/_home\.scss}line{font-family:\00003107}}
  .l-home-wrapper .top-right {
    width: 66.10169%;
    float: right;
    margin-right: 0; } }
/* 
Maps

This section provides styles for the various maps across the site. It does not include map search forms, which are dealt with in the _forms.scss partial.

Styleguide 3
*/
/*
Home page map

This map appears on the home page. Note that much of the content within this area is filled in using JavaScript.

Markup:
<div class="home-map">
	<p><a href="/find-my-aac/full-list" title="Find an Australian Apprenticeship Centre near you">Find an Australian Apprenticeships Centre</a></p>
	<div id="map-canvas-home"></div>
	<div id="map-feedback"></div>
	<div id="map-overlay" class="hidden"></div>
	<div class="home-map-form-wrapper">...[form goes here]...</div>
	<div class="region-search">
		<p><a href="/find-my-aac/by-region" title="Find my AAC by region">Find an AAC by region.</a></p>
	</div>
</div>

Styleguide 3.1
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/components\/_maps\.scss}line{font-family:\0000329}}
.home-map,
.internal-map {
  position: relative; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/components\/_maps\.scss}line{font-family:\0000334}}
#map-canvas-home {
  height: 300px;
  width: 100%;
  margin-bottom: 10px;
  outline: 1px solid #bfbfbf; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/components\/_maps\.scss}line{font-family:\0000341}}
#map-feedback {
  font-size: 0.71429em;
  line-height: 1.6em;
  background: #ffffff;
  border: 1px solid #bfbfbf;
  left: 15px;
  opacity: 0.7;
  position: absolute;
  text-align: center;
  top: 50px;
  width: 20%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/components\/_maps\.scss}line{font-family:\0000353}}
#map-overlay {
  background: url('../images/throbber.gif?1415837520'), #ffffff;
  opacity: 0.7;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: absolute;
  top: 32px;
  left: 0;
  width: 100%;
  height: 300px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/components\/_maps\.scss}line{font-family:\0000363}}
  #map-overlay.hidden {
    display: none;
    visibility: hidden; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/components\/_maps\.scss}line{font-family:\0000368}}
.infoBox {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 20px 1.25em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/components\/_maps\.scss}line{font-family:\0000371}}
  .infoBox h3 {
    font-size: 1.28571em;
    line-height: 1.33333em;
    margin-top: 0em;
    padding-top: 0em;
    padding-bottom: 0em;
    margin-bottom: 0.57143em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/components\/_maps\.scss}line{font-family:\0000376}}
  .infoBox .field-content div {
    font-size: 1.14286em;
    line-height: 1.5em;
    margin-top: 0em;
    padding-top: 0em;
    padding-bottom: 0em;
    margin-bottom: 0.28571em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/components\/_maps\.scss}line{font-family:\0000381}}
  .infoBox .triangle {
    top: -10px;
    left: 100px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #FFD202;
    position: absolute; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/components\/_maps\.scss}line{font-family:\0000392}}
.region-search {
  display: table-cell; }

@media (min-width: 48em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/components\/_maps\.scss}line{font-family:\0000397}}
  .region-search {
    display: block; } }
@media (min-width: 62em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/components\/_maps\.scss}line{font-family:\00003104}}
  .home-map p {
    font-size: 0.85714em;
    line-height: 1.33333em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/components\/_maps\.scss}line{font-family:\00003107}}
  .home-map .search-button {
    width: 31.03448%;
    float: left;
    margin-right: 3.44828%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/components\/_maps\.scss}line{font-family:\00003110}}
  .home-map .region-search {
    width: 65.51724%;
    float: right;
    margin-right: 0; } }
/* 
Navigation

This section provides styles for the various navigation elements, primarily the top menu and
the footer menu.

Styleguide 2
*/
/*
Top menu

Provides the main navigation menu at the top of the site.

Markup:
<div class="l-top-menu">
	<div class="l-region l-region--top-menu">
		<nav id="block-system-main-menu" role="navigation" class="block block--system main-menu-block block--menu block--system-main-menu">
     	<ul class="menu"><li class="first leaf"><a href="/" class="active">Item</a></li>
				<li class="leaf"><a href="/">Item</a></li>
				<li class="last leaf"><a href="/">Item</a></li>
			</ul>
		</nav>
 </div>
</div>

.active		- Used when the current page matches the menu item.

Styleguide 2.1
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/components\/_navigation\.scss}line{font-family:\0000332}}
.l-top-menu {
  padding: 20px 1.25em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/components\/_navigation\.scss}line{font-family:\0000334}}
  .l-top-menu .menu {
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 28em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/2\.0\.0\/gems\/toolkit-2\.3\.0\/stylesheets\/toolkit\/_clearfix\.scss}line{font-family:\0000313}}
    .l-top-menu .menu:after {
      content: "";
      display: table;
      clear: both; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/components\/_navigation\.scss}line{font-family:\0000338}}
    .l-top-menu .menu li {
      list-style-image: none;
      list-style-type: none;
      margin-left: 0;
      white-space: nowrap;
      float: left;
      padding-left: 4px;
      padding-right: 4px;
      font-weight: 700; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/CodeKit\.app\/Contents\/Resources\/engines\/compass\/compass-core\/stylesheets\/compass\/typography\/lists\/_horizontal-list\.scss}line{font-family:\0000349}}
      .l-top-menu .menu li:first-child {
        padding-left: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/CodeKit\.app\/Contents\/Resources\/engines\/compass\/compass-core\/stylesheets\/compass\/typography\/lists\/_horizontal-list\.scss}line{font-family:\0000350}}
      .l-top-menu .menu li:last-child {
        padding-right: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/CodeKit\.app\/Contents\/Resources\/engines\/compass\/compass-core\/stylesheets\/compass\/typography\/lists\/_horizontal-list\.scss}line{font-family:\0000352}}
      .l-top-menu .menu li.last {
        padding-right: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/components\/_navigation\.scss}line{font-family:\0000343}}
      .l-top-menu .menu li .active {
        color: #24224e; }

@media (min-width: 48em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/components\/_navigation\.scss}line{font-family:\0000355}}
  .l-top-menu .menu {
    width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/components\/_navigation\.scss}line{font-family:\0000357}}
    .l-top-menu .menu li {
      font-size: 1.28571em;
      line-height: 1.33333em;
      width: 20%;
      padding-left: 0.5em;
      padding-right: 0.5em;
      text-align: center; } }
/* 
Utility

This section provides styles for blocks within the 'utility' block in the header.

It splits into two columns in the mobile view, and then shifts to side-by-side columns 
in the tablet and desk views.

Styleguide 1.2.2.1
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/components\/_utility\.scss}line{font-family:\0000312}}
.l-utility {
  /*
  Links
  
  This is a small block that provides two 'utility' links for users: 'Skip to content' and 'Site map'.
  
  Markup:
  <div class="links">
      <ul class="menu">
  		<li><a href="#main-content">Skip to content</a></li>
  		<li><a href="site-map">Site map</a></li>
     	</ul>
  </div>
  
  Styleguide 1.2.2.1.1
  
  */
  /* 
  Search
  
  This block provides search functionality. It consists of a text input and a search button. Styling for the actual form elements are provided in the _forms.scss partial.
  
  Markup:
  <div class="search">
  	<div class="l-region l-region--search">
  		<div id="block-search-form" role="search" class="block block--search block--search-form">
  			<div class="block__content">
  				<form class="search-block-form" action="/?ckcachecontrol=1415310126" method="post" id="search-block-form" accept-charset="UTF-8">
  					<div>
  						<div class="container-inline">
  							<h2 class="element-invisible">Search form</h2>
  							<div class="form-item form-type-textfield form-item-search-block-form">
  								<label class="element-invisible" for="edit-search-block-form--2">Search </label>
  								<input title="Enter the terms you wish to search for." type="text" id="edit-search-block-form--2" name="search_block_form" value="" size="15" maxlength="128" class="form-text">
  							</div>
  							<div class="form-actions form-wrapper" id="edit-actions">
  								<input type="submit" id="edit-submit" name="op" value="Search" class="form-submit">
  							</div>
  						</div>
  					</div>
  				</form>
  			</div>
  		</div>
  	</div>
  </div>
  
  Styleguide 1.2.2.1.2
  
  */ }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/2\.0\.0\/gems\/toolkit-2\.3\.0\/stylesheets\/toolkit\/_clearfix\.scss}line{font-family:\0000313}}
  .l-utility:after {
    content: "";
    display: table;
    clear: both; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/components\/_utility\.scss}line{font-family:\0000331}}
  .l-utility .links {
    width: 47.36842%;
    float: right;
    margin-right: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/components\/_utility\.scss}line{font-family:\0000333}}
    .l-utility .links li {
      font-size: 1em;
      line-height: 1.71429em;
      margin-top: 0em;
      padding-top: 0em;
      padding-bottom: 0em;
      margin-bottom: 0.28571em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/components\/_utility\.scss}line{font-family:\0000337}}
    .l-utility .links a {
      color: #ffffff;
      text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/components\/_utility\.scss}line{font-family:\0000340}}
      .l-utility .links a:hover {
        color: #bfbfbf;
        text-decoration: underline; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/components\/_utility\.scss}line{font-family:\0000379}}
  .l-utility .search {
    width: 47.36842%;
    float: left;
    margin-right: 5.26316%;
    color: #3f3f3f;
    margin-top: 0.8em;
    /* input {
    	border: $border;
    	height: image-height("search-icon.png") + 6px;
    }
    .form-item {
    	@include float-left;
    	margin-bottom: 0;
    	.form-text {
    		@include border-left-radius;
    		padding: 3px 5px;
    		width: 100%;
    	}
    }
    .form-actions {
    	.form-submit {
    		@include border-right-radius;
    		@include background(image-url("search-icon.png"), $white);
    		background-repeat: no-repeat;
    		background-position: 50% 50%;
    		width: image-width("search-icon.png") + 6px;
    		border-left: none;
    		text-indent: -999px;
    		&:hover {
    			background-color: $lightest-grey;
    		}
    	}
    } */ }

@media (min-width: 48em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/components\/_utility\.scss}line{font-family:\00003115}}
  .l-utility .links,
  .l-utility .search {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/components\/_utility\.scss}line{font-family:\00003119}}
    .l-utility .links .form-item,
    .l-utility .search .form-item {
      width: 85%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/components\/_utility\.scss}line{font-family:\00003121}}
      .l-utility .links .form-item .form-text,
      .l-utility .search .form-item .form-text {
        width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/components\/_utility\.scss}line{font-family:\00003127}}
  .l-utility .links ul {
    margin-top: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jboyd\/Sites\/devdesktop\/AustralianApprenticeships-2014-11-12T16-11-02\/docroot\/sites\/all\/themes\/australian_apprenticeships\/sass\/components\/_utility\.scss}line{font-family:\00003130}}
  .l-utility .links li:first-child {
    float: left;
    padding-right: 1.25em;
    margin-right: 1.25em;
    border-right: 1px solid #bfbfbf; } }
