/* 

Home page boxes

These styles control how the home page boxes appear (the two FAQ lists and the business app list).

Styleguide 4.3

*/

/*

Generic list block for FAQs

These styles apply to the Apprentices and Employers FAQ lists. To some extent they also apply to the Start Your Business box.

Markup:

<div class="inner-wrapper">
	<h2>Title</h2>
	<div class="content">
		<ul>
			<li><a href="#">Item</a></li>
			<li><a href="#">Item</a></li>
			<li><a href="#">Item</a></li>
			<li><a href="#">Item</a></li>
			<li><a href="#">Item</a></li>
		</ul>
	</div>
	<div class="more-link"><a href="#">View all FAQs...  </a></div>
</div>
  
<div class="bottom-right"></div>

Styleguide 4.3.1

*/

.faq-block {
	position: relative;
	.title-wrapper {
		@include background-image(linear-gradient(to bottom right, $yellow, $dark-yellow));
		padding: $vert-spacing-unit * 1.25 0 $vert-spacing-unit * 1.25 $horz-spacing-unit;
	}
	h2 {
		@include rhythm(0, 0, 0, 0);
		height: $icon-height;
		line-height: $icon-height;
		padding-left: $horz-spacing-unit * 1.5;
	}
	.content {
		padding: $all-round;
	}
	p {
		@include adjust-font-size-to(16px);
	}
	ul {
		@include pretty-bullets("icons/question.png", $icon-height, $icon-height, 30px, 30px);
	}
	li {
		@include adjust-font-size-to(16px);
		@include rhythm(0.5,0,0,0.5);
		font-weight: 700;
		padding-left: $horz-spacing-unit * 2;
	}
	.more-link {
		@include rhythm(0,1,1,0);
	}
}
	
#faqs-apprentices h2 {
	@extend .icons-question-bg;
}

#faqs-employers h2 {
	@extend .icons-employers;
}

#my-biz-apps {
	h2 { 
		@extend .icons-business-card-bg;
	}
	li {
		@include adjust-font-size-to(14px);
		padding-left: 0;
		background: none;
		a {
			display: block;
			padding-left: $horz-spacing-unit * 2;
			&.mybizshield {
				@extend .icons-mybizshield;
			}
			&.mybizplan {
				@extend .icons-mybizplan;
			}
			&.marketmybiz {
				@extend .icons-marketmybiz;
			}
			&.businessgovau {
				@extend .icons-businessgovau;
			}
		}
		span {
			padding-left: $horz-spacing-unit * 2;
			font-weight: 400;
			display: block;
		}
	}
}

@include susy-breakpoint($bp-tablet, $tab-cols) {
	.faq-block {
		min-height: 30em;
		.more-link {
			position: absolute;
			bottom: 0.5em;
			right: 1em;
		}
		&#my-biz-apps {
			height: auto;
			min-height: initial;
		}
	}
}

@include susy-breakpoint($bp-desk, $desk-cols) {
	.faq-block {
		min-height: 36em;
		h2 {
			@include adjust-font-size-to(20px);
		}
		&#my-biz-apps {
			min-height: 36em;
		}
	}
}
