/* 

Home page boxes

These styles control how the home page boxes appear (the two FAQ lists and the business app list).

Styleguide 4.3

*/

/*

Generic list block for FAQs

These styles apply to the Apprentices and Employers FAQ lists. To some extent they also apply to the Start Your Business box.

Markup:

<div class="inner-wrapper">
	<h2>Title</h2>
	<div class="content">
		<ul>
			<li><a href="#">Item</a></li>
			<li><a href="#">Item</a></li>
			<li><a href="#">Item</a></li>
			<li><a href="#">Item</a></li>
			<li><a href="#">Item</a></li>
		</ul>
	</div>
	<div class="more-link"><a href="#">View all FAQs...  </a></div>
</div>
  
<div class="bottom-right"></div>

Styleguide 4.3.1

*/

.faq-block {
	position: relative;
	.icon {
		background-position: left 50%;
		background-repeat: no-repeat;
	}
	.title-wrapper {
		@include background-image(linear-gradient(to bottom right, $yellow, $dark-yellow));
	}
	h2 {
		padding-left: $horz-spacing-unit * 2;
		@include rhythm(0,1.5,1.5,0);
		background-repeat: no-repeat;
		background-position: $horz-spacing-unit / 2 50%;
	}
	.content {
		padding: $all-round;
	}
	p {
		@include adjust-font-size-to(16px);
	}
	li {
		@include adjust-font-size-to(16px);
		@include rhythm(0.5,0,0,0.5);
		@include background-image(image-url('faq-question-navy.png'));
		background-repeat: no-repeat;
		background-position: left 2px;
		font-weight: 700;
		padding-left: $horz-spacing-unit * 1.5;
	}
	.more-link {
		@include rhythm(0,1,1,0);
	}
}
	
#faqs-apprentices h2 {
	@include background-image(image-url('faq-question-mark.png'));
}

#faqs-employers h2 {
	@include background-image(image-url('employ-icon.png'));
}

#my-biz-apps {
	h2 { 
		@include background-image(image-url('start-your-business-icon.png'));
	}
	li {
		@include adjust-font-size-to(14px);
		padding-left: $horz-spacing-unit * 2.5;
		font-weight: 400;
		a {
			display: block;
			font-weight: 700;
		}
		&.mybizshield {
			@include background-image(image-url('mybizshield.png'));
		}
		&.mybizplan {
			@include background-image(image-url('mybizplan.png'));
		}
		&.marketmybiz {
			@include background-image(image-url('marketmybiz.png'));
		}
		&.businessgovau-app {
			@include background-image(image-url('businessgovau-app.png'));
		}
	}
}

@include susy-breakpoint($bp-tablet, $tab-cols) {
	.faq-block {
		min-height: 30em;
		.more-link {
			position: absolute;
			bottom: 0.5em;
			right: 1em;
		}
		&#my-biz-apps {
			height: auto;
			min-height: initial;
		}
	}
}

@include susy-breakpoint($bp-desk, $desk-cols) {
	.faq-block {
		min-height: 36em;
		h2 {
			@include adjust-font-size-to(20px);
		}
		&#my-biz-apps {
			min-height: 36em;
		}
	}
}
