/* 
Maps

This section provides styles for the various maps across the site. It does not include map search forms, which are dealt with in the _forms.scss partial.

Styleguide 3
*/

/*
Home page map

This map appears on the home page. Note that much of the content within this area is filled in using JavaScript.

Markup:
<div class="home-map">
	<p><a href="/find-my-aac/full-list" title="Find an Australian Apprenticeship Centre near you">Find an Australian Apprenticeships Centre</a></p>
	<div id="map-canvas-home"></div>
	<div id="map-feedback"></div>
	<div id="map-overlay" class="hidden"></div>
	<div class="home-map-form-wrapper">...[form goes here]...</div>
	<div class="region-search">
		<p><a href="/find-my-aac/by-region" title="Find my AAC by region">Find an AAC by region.</a></p>
	</div>
</div>

Styleguide 3.1
*/

.home-map,
.internal-map {
	position: relative;
}

div[id^="map-canvas-"] {
	height: $home-height;
	width: 100%;
	margin-bottom: $vert-spacing-unit / 2;
	outline: $border;
}
#map-canvas-internal {
	height: $internal-height;
}

#map-feedback,
#map-message {
	@include adjust-font-size-to(10px);
	background: $white;
	border: $border;
	left: 15px;
	opacity: 0.9;
	position: absolute;
	text-align: center;
	top: 50px;
	width: 20%;
}

#map-message {
	margin: auto;
	height: 8em;
	top: 0; left: 0; bottom: 0; right: 0;
	display: none;
	&.warning {
		border-color: red;
	}
}

#map-overlay {
	@include background(image-url("throbber.gif"), $white);
	opacity: 0.7;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	position: absolute;
	top: 2.3em;
	left: 0;
	width: 100%;
	.not-front & {
		height: $internal-height;
	}
	.front & {
		height: $home-height;
	}
	&.hidden {
		@include hide-element;
	}
}

.infoBox {
	@include border-radius;
	padding: $all-round;
	h3 {
		@include adjust-font-size-to(18px);
		@include rhythm(0,0,0,1);
	}
	.field-content {
		div {
			@include adjust-font-size-to(16px);
			@include rhythm(0, 0, 0, 0.5);
		}
	}
	.triangle {
		top: -10px;
		left: 100px;
		width: 0;
		height: 0;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 10px solid $yellow;
		position: absolute;
	}
}
.region-search {
	display: table-cell;
}

@include susy-breakpoint($bp-tablet, $tab-cols) {
	.region-search {
		display: block;
	}
}

@include susy-breakpoint($bp-desk, $desk-cols) {
	.home-map {
		p {
			@include adjust-font-size-to(12px);
		}
		#map-overlay {
			top: 1.6em;
		}
		.search-button {
			@include span(first 2 of 6);
		}
		.region-search {
			@include span(last 4 of 6);
		}
	}
}