/* 
Navigation

This section provides styles for the various navigation elements, primarily the top menu and
the footer menu.

Styleguide 2
*/

/*
Top menu

Provides the main navigation menu at the top of the site.

Markup:
<div class="l-top-menu">
	<div class="l-region l-region--top-menu">
		<nav id="block-system-main-menu" role="navigation" class="block block--system main-menu-block block--menu block--system-main-menu">
     	<ul class="menu"><li class="first leaf"><a href="/" class="active">Item</a></li>
				<li class="leaf"><a href="/">Item</a></li>
				<li class="last leaf"><a href="/">Item</a></li>
			</ul>
		</nav>
 </div>
</div>

.active		- Used when the current page matches the menu item.

Styleguide 2.1
*/

.l-top-menu {
	padding: $all-round;
	.menu {
		@include horizontal-list-container;
		@include center-block;
		width: 28em;
		li {
			@include horizontal-list-item;
			font-weight: 700;
			a {
			}
			.active {
				color: $dark-blue;
			}
		}
	}
}

/*

Left menu

Provides the main page-based navigation for the site. Sits on the left hand side and is affected by the off canvas styling.

Styleguide 2.2

*/

.off-canvas-nav {
	.content {
		margin-top: $vert-spacing-unit;
	}
	.menu-block-wrapper > .menu > li {
		margin-bottom: $horz-spacing-unit / 4;
	}
	.menu {
		li {
			@include adjust-font-size-to(14px);
			@include background-image(linear-gradient(to bottom right, $blue, $dark-blue));
			list-style: none;
			a {
				@include rhythm(0,1,1,0);
				color: $yellow;
				font-weight: 700;
				display: block;
				padding-left: $horz-spacing-unit;
				padding-right: $horz-spacing-unit;
			}
			&.active {
				> a {
					font-style: italic;
				}
			}
			.collapsed {
				a {
					@include background-image(image-url('arrow.png'));
					background-position: 90% 50%;
					background-repeat: no-repeat;
				}
				.menu {
					display: none;
				}
			}
			.expanded  {
				.menu {
					display: block;
				}
			}
			li {
				@include background-image(linear-gradient(to bottom right, $yellow, $dark-yellow));
				a {
					color: $blue;
					padding-left: $horz-spacing-unit * 1.5;
				}
				li {
					@include background-image(linear-gradient(to bottom right, $white, $lightest-grey));
					border: 1px solid $yellow;
					border-top: none;
					&.last {
						border-bottom: none;
					}
					a {
						color: $blue;
						padding-left: $horz-spacing-unit * 2;
					}
				}
			}
		}
	}
}

.l-footer-menu {

}

@include susy-breakpoint ($bp-tablet, $tab-cols) {
	.l-top-menu {
		.menu {
			width: 100%;
			li {
				@include adjust-font-size-to(18px);
				width: 20%;
				padding-left: 0.5em;
				padding-right: 0.5em;
				text-align: center;
			}
		}
	}
}