// Colours for Australian Apprenticeships.

$blue: #2E2B62;
$dark-blue: shade($blue, 20%);
$yellow: #FFD202;
$dark-yellow: shade($yellow, 20%);
$white: #ffffff;
$black: #000000;
$grey: tint($black, 50%);
$light-grey: tint($black, 75%);
$lightest-grey: tint($black, 95%);
$dark-grey: tint($black, 25%);
