// Miscellaneous variables

// Border radius
$default-border-radius: 5px;

// Borders
$border: 1px solid $light-grey;

// Icons
$icon-height: 25px;

// Maps

$internal-height: 500px;
$home-height: 300px;