// Core styles for Australian Apprenticeships

@include global-reset;

@include global-box-sizing(border-box);

.l-secondary {
	margin-bottom: $vert-spacing-unit;
}

.content-wrapper {
	padding: 0 $all-round;
	
}

@include susy-breakpoint($bp-tablet, $tab-cols) {
	.l-page {
		@include container;
	}
	.l-secondary {
		padding: 0 $all-round;
		@include span(full);
	}
}

.hidden {
	display: none;
}