/* Text styles and fonts for for penelopeboyd.com */

//Vertical Rhythm settings

$base-font-size: 14px;
$base-line-height: 8px;

@include establish-baseline;

$font-family: "Gotham A", "Gotham B", sans-serif;

body {
    font-family: $font-family;
    font-weight: 400;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    color: $dark-blue;
}

// The Rhythm mixin takes 5 variables: leader (top margin),
// padding-leader (top padding), padding-trailer (bottom-padding)
// trailer (bottom margin) and the font size. These are given as units of
// the base line height given in the VR settings.

h1 {
    @include adjust-font-size-to(30px);
    @include rhythm(0, 1, 1, 0.5);
}
h2 {
    @include adjust-font-size-to(24px);
    @include rhythm(1, 0, 0, 0.5);
}
h3 {
    @include adjust-font-size-to(20px);
    @include rhythm(1, 0, 0, 0.5);
}
h4 {
    @include adjust-font-size-to(16px);
    @include rhythm(1, 0, 0, 0.5);
}

p,
.messages {
    @include adjust-font-size-to($base-font-size);
    @include rhythm(0, 0, 0, 1);
}

.right-column,
.site-map {
    ul {
        margin-left: 2em;
        ul {
            margin-left: 1em;
            ul {
                margin-left: 1em;
            }
        }
        li {
            @include adjust-font-size-to($base-font-size);
            @include rhythm(0,0,0,0.5);
            list-style: outside square;
            li {
                list-style-type: disc;
                li {
                    list-style-type: circle;
                }
            }
        }
    }
    
}

strong {
    font-weight: 700;
}

em {
    font-style: italic;
}

a {
    color: $dark-blue;
    text-decoration: none;
    &:hover {
        color: $blue;
        text-decoration: underline;
    }
}

@include susy-breakpoint($bp-tablet, $tab-cols) {

}
